@page
@model Medistorial.Web.Pages.CreatePatientModel

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Patient.BirthDate" class="control-label"></label>
                <input asp-for="Patient.BirthDate" class="form-control" />
                <span asp-validation-for="Patient.BirthDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Patient.BloodType" class="control-label"></label>
                <select asp-for="Patient.BloodType" class="form-control"></select>
                <span asp-validation-for="Patient.BloodType" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Patient.DNI" class="control-label"></label>
                <input asp-for="Patient.DNI" class="form-control" />
                <span asp-validation-for="Patient.DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.OS" class="control-label"></label>
                <input asp-for="Patient.OS" class="form-control" />
                <span asp-validation-for="Patient.OS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.OSUserCode" class="control-label"></label>
                <input asp-for="Patient.OSUserCode" class="form-control" />
                <span asp-validation-for="Patient.OSUserCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Name" class="control-label"></label>
                <input asp-for="Patient.Name" class="form-control" />
                <span asp-validation-for="Patient.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.LastName" class="control-label"></label>
                <input asp-for="Patient.LastName" class="form-control" />
                <span asp-validation-for="Patient.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
