@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{

    <p>Hola @UserManager.GetUserName(User)!</p>
}
else
{
    <p>Usted no está registrado</p>
}
