@page
@model Medistorial.Web.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Crear Cuenta";
}

<!-- multistep form -->
<form id="msform" method="post">
    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Datos Personales</li>
        <li>Antecedentes</li>
        <li>Médicos</li>
        <li>Medicamentos</li>
        <li>Vacunas</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">Crear mi cuenta</h2>
        <h3 class="fs-subtitle">Datos Personales</h3>
        <input type="text" asp-for="Patient.Name" name="txtName" placeholder="Nombre" />
        @*<span asp-validation-for="Patient.Name" class="text-danger" />*@
        <input type="text" asp-for="Patient.LastName" name="txtLastName" placeholder="Apellido" />
        @*<span asp-validation-for="Patient.LastName" class="text-danger"></span>*@
        <input type="text" asp-for="Patient.DNI" name="txtDNI" placeholder="DNI" />
        @*<span asp-validation-for="Patient.DNI" class="text" />*@
        <input type="text" asp-for="Patient.OS" name="txtOS" placeholder="Obra Social" />
        @*<span asp-validation-for="Patient.OS" class="text-danger" />*@
        <input type="text" asp-for="Patient.OSUserCode" name="txtOSUserCode" placeholder="Nro de Asociado" />
        @*<span asp-validation-for="Patient.OSUserCode" class="text-danger" />*@
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Antecedentes Familiares</h2>
        <h3 class="fs-subtitle">La salud de mi familia y cercanos</h3>
        <textarea rows=" 10" cols="50"  name="txtAntecedentes" placeholder="Antecedentes Familiares" ></textarea>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Médicos</h2>
        <h3 class="fs-subtitle">La medicina que debo tomar/ o que tomé</h3>
        <input type="text" name="fname" placeholder="First Name" />
        <input type="text" name="lname" placeholder="Last Name" />
        <input type="text" name="phone" placeholder="Phone" />
        <textarea name="address" placeholder="Address"></textarea>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Medicamentos</h2>
        <h3 class="fs-subtitle">La medicina que debo tomar/ o que tomé</h3>
        <input type="text" name="fname" placeholder="First Name" />
        <input type="text" name="lname" placeholder="Last Name" />
        <input type="text" name="phone" placeholder="Phone" />
        <textarea name="address" placeholder="Address"></textarea>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Vacunas</h2>
        <h3 class="fs-subtitle">La medicina que debo tomar/ o que tomé</h3>
        <input type="text" name="fname" placeholder="First Name" />
        <input type="text" name="lname" placeholder="Last Name" />
        <input type="text" name="phone" placeholder="Phone" />
        <textarea name="address" placeholder="Address"></textarea>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
</form>

